<div class="city-list">
    <h2>City Names & Activities</h2>

    {{#each activities as |activity|}}
        <p>
            {{activity.city}}
                <ul>
                    <li>{{activity.name}}</li>
                </ul>
        </p>
    {{/each}}
</div>

