<aside class="side-container">
  {{!-- <div class="start-date-picker">
    <label for="start-date-input">Start Date:</label>
    <input type="date" id="start-date-input" name="start-date" />
  </div>
  <div class="end-date-picker">
    <label for="end-date-input">End Date:</label>
    <input type="date" id="end-date-input" name="end-date" />
  </div> --}}

  <!-- drop down menu for city selection -->
  <div class="city-dropdown">
    <label for="cities">Choose a city:</label>

    <select name="city" id="city">
    </select>
  </div>
  <!-- Div containers for button selections  -->
  <div class="side">
    <section id="search-section" class="mb-2">
      <p class="text-xl">Make a Selection:</p>
      {{!-- <button
        class="btn bg-teal-800 hover:bg-teal-400 hover:font-bold text-white text-lg"
        id="btn-hotel"
      >Hotel</button>
      <button
        class="btn bg-teal-800 hover:bg-teal-400 hover:font-bold text-white text-lg"
        id="btn-food"
      >Restaurants</button> --}}
      <button
        class="btn bg-teal-800 hover:bg-teal-400 hover:font-bold text-white text-lg"
        id="btn-activity"
      >Activities</button>
    </section>
  </div>
</aside>
<!-- div container for results -->
<section class="container" id="results-container">
  <div class="result-container">
    <div class="result-grid" id="result-grid-all">
      <!-- hotel/food/activity information here -->
      {{!-- {{#each results}}
      {{if results.activityInfo}} //make partials
      {{>activityInfo}}
      {{/each}} --}}
    </div>
  </div>
</section>


{{!-- <script src="./js/search.js"></script> --}}