@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800");

/* Variables */
:root {
  --black: #000000;
  --darkgray: #272727;
  --green: #689775ff;
  --lttan: #ad8174ff;
  --transpLtTan: rgba(173, 129, 116, 0.699);
  --transpBlack: rgba(0, 0, 0, 0.815);
  --md-dark-color: #1d1d1d;
  --dark-color: #171717;
  --light-dark-color: #292929;
  --yellow-color: #d4aa11;
  --dark-brown: #211916ff;
  --light-teal: #b0f2e2;
}

/* Global Styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  margin: 0;
  font-family: "Montserrat", helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

body { 
  background-color: black;
}

/* header and travel logo */
header {
  height: 20rem;
  background: var(--dark-brown);
  display: flex;
  align-items: center;
  justify-content: left;
  /* padding: 0px; */
  /* margin: 0px;  top: 0; */
  left: 0;
  width: 100%;
  z-index: 999;
  border-bottom: solid;
  border-color: var(--light-teal);
  padding-bottom: 15px;
  /* margin-bottom: 50px; */
}

#travel-journal {
  /* height: 500px; */
  width: 40rem;
  min-height: 25rem;
  min-width: 25rem;
  position: relative;
  /* display: flex; */
  align-items: center;
  justify-content: left;
  padding-top: 41px;
  margin: 0px;
}

/* nav bar */
nav {
  display: flex;
  align-items: flex-end;
  background-color: var(--light-teal);
  height: 50px; /* Set a fixed height for the nav element */
  margin: 50px;
  border-radius: 5px;
  padding: 20px;
  font-weight: bold;
}

/* styling the login page */
.login-card {
  color: var(--light-teal);
  padding: 10px;
}

.page-title {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Center the elements horizontally */
  align-items: center; /* Center the elements vertically */
  padding: 10px;
  margin: 0px;
}

.form-group {
  padding: 5px;
}

.form-input {
  margin-left: 5px;
  color: black;
}

/* options container */
.section-container-options {
  margin: 0px;
  padding: 0px;
}
.options-container {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Center the elements horizontally */
  align-items: center; /* Center the elements vertically */
  background-color: var(--light-teal);
  padding: 10px;
  margin: 0px;
}

.options-container h2 {
  margin-right: 50px; /* Add some spacing between the h2 elements */
  font-weight: bold;
}

/* Adding style to the start date/ end date pickers */
/* .start-date-picker{
  margin-top: 20px;
  padding-top: 20px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

#start-date-input {
  padding-left: 10px;
  margin-left: 20px;
  border-radius: 5px;
  color: black;
}

.end-date-picker{
  margin-bottom: 10px;
  padding-bottom: 10px;
}

#end-date-input {
  padding-left: 10px;
  margin-left: 20px;
  border-radius: 5px;
  color: black;
} */

/* styling the drop down menu */

#city {
  padding-left: 10px;
  margin-left: 20px;
  border-radius: 5px;
  color: black;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: var(--yellow-color);
}

a:active {
  text-decoration: none;
  color: var(--yellow-color);
}

main {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--black);
}


aside {
  flex: 30%;
  padding: 20px;
  flex-wrap: wrap;
  background-color: var(--black);
  color: white;
}

section {
  flex: 70%;
  padding: 20px;
}

.results-container h2 {
  color: white;
  padding-bottom: 20px;
}

.results-container {
  font-size: 20px;
}


.side {
  border-bottom: solid;
  border-color: var(--light-teal);
  margin-bottom: 15px;
  background-color: var(--black);
}

.btn {
  font-family: "Montserrat", helvetica, arial, sans-serif;
  padding: 6px 5px;
  width: 100%;
  display: block;
  margin: 15px 0;
  border-radius: 5px;
  border: none;
  outline: none;
  transform: translate(-1px, -1px);
  cursor: pointer;
}

.show-results {
  background-color: var(--darkgray);
  color: white;
  padding: 20px;
}

footer {
  background-color: var(--black);
  color: white;
  margin-top: 75px;
}

/*  Styling the results */
.result-container {
  padding: 3rem 0;
}

/* itinerary handlebars */
.city-list h2 {
  color: var(--light-teal);
  border-bottom: solid;
  border-color: var(--light-teal);
  padding-bottom: 15px;
}

.city-list p{
  color: var(--light-teal);
  margin-top: 10px;
}

.city-list ul{
  margin-left: 10px;
  border-bottom: solid;
  border-width: 2px;
  border-color: var(--yellow-color);
}

.city-list {
  color: white;
}

/* Styling the email submit form */
#send-email-form {
  margin-top: 10px;
  padding-top: 10px;
}

/* .hotel-info {
  text-align: center;
  color: white;43ew
  padding: 15px;
  margin: 10px;
  background-color: var(--transpLtTan);
} */

/* .food-info {
  text-align: center;
  color: white;
  padding: 15px;
  margin: 10px;
  background-color: var(--transpLtTan);
} */

.activity-info {
  text-align: center;
  color: white;
  padding: 15px;
  margin: 10px;
  background-color: var(--transpLtTan);
}

.modal {
  display: none;
  text-align: center;
  border-radius: 5px;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  border-radius: 5px;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  position: relative;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 450px) {
  .logo p {
    font-size: 1.4rem;
  }
}

@media (min-width: 800px) {
  .result-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .hotel-info {
    text-align: left;
    padding-top: 0;
  }
  .food-info {
    text-align: left;
    padding-top: 0;
  }
  .activity-info {
    text-align: left;
    padding-top: 0;
  }

  .activity-info {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-left: 0;
  }

}
