<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>User Registry</title>
<link rel="stylesheet" href="/css/jass.css">
</head>

<body>
<header class="display-flex justify-space-between align-center p-2">
    <h1>
    User Registry
    </h1>
    
    {{#if logged_in}}
    <nav>
    <button class="btn" id="logout">logout</button>
    </nav>
    <body>
    <button class="btn city" id="charleston">Charleston, SC</button>
    <button class="btn city" id="santafe">Santa Fe, NM</button>
    <button class="btn city" id="savannah">Savannah, GA</button>
    <button class="btn city" id="neworleans">New Orleans, LA</button>
    <button class="btn city" id="nyc">New York City, NY</button>
    <button class="btn city" id="sanantonio">San Antonio, TX</button>
    <button class="btn city" id="chicago">Chicago, IL</button>
    <button class="btn city" id="portland">Portland, OR</button>
    <button class="btn city" id="williamsburg">Williamsburg, VA</button>
    <button class="btn city" id="honolulu">Honolulu, HI</button>

    </body>
    {{/if}}
</header>
<main class="container container-fluid mt-5">
    {{{ body }}}
</main>
<footer>
    
</footer>


{{#if logged_in}}
<script src="../../public/js/index.js"></script>
<script src="../../public/js/logout.js"></script>
{{/if}}
</body>

</html>