* {
    /* background-color: cadetblue;  */
    box-sizing: border-box;
}
 
header.display-flex justify-space-between align-center p-2{
    text-align:center;
  }


  
  
  body {
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    
  }
  
 









 .logout { 
    position: relative;
    margin: 0 auto;
    padding: 20px 20px 20px;
    width: 310px;
  } 
